/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define SYMBOLS 1
#define NAVIGATION 2

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Default Layer";

//          RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5) RC(5,6)          RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11) RC(5,12)
//  RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6)          RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13)
//  RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                          RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13)
//  RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6)          RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13)
//  RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)                                          RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13)
//                                            RC(0,3)  RC(0,0)     RC(0,7) RC(0,10)
//                                                     RC(0,1)     RC(0,8)
//                                     RC(0,5) RC(0,4) RC(0,2)     RC(0,9) RC(0,11)  RC(0,12)
      bindings = <
              &kp  N1       &kp  N2       &kp  N3       &kp  N4       &kp  N5       &bootloader            &bootloader   &kp  N6       &kp  N7       &kp  N8       &kp  N9       &kp  N0
&kp  DEL      &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T        &none                  &none         &kp  Y        &kp  U        &kp  I        &kp  O        &kp  P        &kp  BSLH
&kp  ESC      &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                             &kp  H        &kp  J        &kp  K        &kp  L        &kp  SEMI     &kp  SQT
&kp  LSHFT    &kp  Z        &kp  X        &kp  C        &kp  V        &kp  B        &none                  &none         &kp  N        &kp  M        &kp  COMMA    &kp  DOT      &kp  SLASH    &kp  RSHFT
&kp  LALT     &kp  LCTRL    &none         &none         &mo  SYMBOLS                                                                   &mo  SYMBOLS  &none         &none         &kp  RCTRL    &kp  RALT
                                                                  &kp  C_BRI_UP     &kp  C_BRI_DN          &kp  VOLD     &kp  VOLU
                                                                                    &none                  &kp K_MUTE
                                                        &mt LMETA SPC &kp BSPC      &mo  NAVIGATION        &none         &kp  TAB      &mt RMETA RET
      >;
    };
    symbols {
      display-name = "Symbols";
      bindings = <
       &kp F1        &kp F2       &kp F3       &kp F4       &kp F5         &none             &none  &kp F6  &kp F7  &kp F8           &kp F9            &kp F10
&none  &kp AT        &kp HASH     &kp DOLLAR   &kp PERCENT  &kp KP_PLUS    &none             &none  &none   &kp LT  &kp LEFT_BRACKET &kp RIGHT_BRACKET &kp GT       &kp PIPE
&none  &kp AMPERSAND &kp ASTERISK &kp KP_MINUS &kp KP_EQUAL &kp UNDERSCORE                          &none   &none   &kp LPAR         &kp RPAR          &kp COLON    &kp DOUBLE_QUOTES
&none  &kp BACKSLASH &kp GRAVE    &kp BANG     &kp CARET    &kp TILDE      &none             &none  &none   &none   &kp LEFT_BRACE   &kp RIGHT_BRACE   &kp QUESTION &none
&none  &none         &none        &none        &none                                                        &none   &none            &none             &none        &none
                                                                      &none  &none         &none  &none
                                                                             &none         &none
                                                               &none  &none  &none         &none  &none  &none
      >;
    };
    navigation {
      display-name = "Navigation";
      bindings = <
       &none  &none  &none  &none  &none  &none              &none  &none     &none     &none   &none     &none
&none  &none  &none  &none  &none  &none  &none              &none  &none     &none     &none   &none     &none  &none
&none  &none  &none  &none  &none  &none                            &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT &none  &none
&none  &none  &none  &none  &none  &none  &none              &none  &none     &none     &none   &none     &none  &none
&none  &none  &none  &none  &none                                             &none     &none   &none     &none  &none
                                      &none  &none         &none  &none
                                             &none         &none
                               &none  &none  &none         &none  &none  &none
      >;
    };
  };
};

